body {
    background-color: #e9e5cd;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin: 20px;
    width: 33.33%;
}

header h1 {
    display: inline;
    font-size: 3em;
}

.ley {
    color: #a0987e;
}

.vigente {
    color: #75420E;
    font-weight: bold;
}

main {
    margin: 20px;
    padding: 20px;
    width: 33.33%;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

p {
    text-align: justify;
}
